/*
TIPOGRAFIA
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
*/

/*----------------------------*/
/*          FUNCTION SKILLS    */
/*----------------------------*/
/*----------Div Inferior speener -----------*/


div.html-css-mestre div.html-css-interna{
    width: max(150px, 7vw);
    margin-left: 10px;
    margin-right: 10px;
}

div.html-css-mestre div.html-css-interna svg.html-css{
    width: 100%;
    height: 100%;
    position: relative;
}

div.html-css-mestre div.html-css-interna svg.html-css circle{
    width: max(130px, 6vw);
    height: max(130px, 6vw);

    fill: none;
    stroke: #13182B;
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 378;
    stroke-dashoffset: 378;
}

div.html-css-mestre div.html-css-interna svg.html-css circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #049DD9;
}

div.html-css-mestre div.html-css-interna svg.html-css circle:nth-child(2){
    /* stroke-dashoffset: calc(378 - 340.2); */
    stroke: #F25C05;
}

div.html-css-mestre div.html-css-porcento{
    position: relative;
    top: -68px;
    left: 2rem;
}

div.html-css-mestre div.html-css-porcento h2{
    color: #00082C ;
    text-shadow: 1px 2px 4px #000;
}

div.html-css-mestre div.skill{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.html-css-mestre div.skill h3{
    color: #00082C;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

/*---------------------------------------------------------------------*/

/*----------------------------*/
/*  FUNCTION RECONHECIMENTOS   */
/*----------------------------*/
div.container-img{
    max-width: 500px;    
    margin: .5rem auto;

    cursor: pointer;

    transform-origin: center center;
    transition: all 0.6s ease-out;
    cursor: pointer;
}

/*------- Animando o container-img --------------*/
div.container-img:hover{
    transform:  scale(1.4);
    z-index: 2;
    margin-left: 100px;
    margin-right: 100px;
}

div.container-img img{
    max-width: 100%;
    box-shadow: 4px 4px 6px #000;
}

/*---------------------------------------------------------------------*/

/*----------------------------*/
/*  FUNCTION CANAL YOUTUBE    */
/*----------------------------*/

div.canal-container{
    max-width: 400px;
    margin: 2rem auto;
}

div.canal-container div.container-mestre{
    max-width: 100%;
    margin: auto;
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;

    align-items: center;
}

div.canal-container div.container-mestre div.imagem{
    width: 400px;
    min-width: 350px;  
    display: flex;
    justify-content: center;
}

div.canal-container div.container-mestre div.imagem img{
    max-width: 100%;
    min-width: 100%;
    border: 1px solid #00082C;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
}

div.canal-container div.container-mestre div.card-informacoes{
    padding: 5px;
    position: relative;
}

/*          Efeito Papel           */
div.canal-container div.container-mestre div.card-informacoes::before{
    position: absolute;
    right: 3px;
    top: 80%;
    bottom: -10px;
    width: 50%;
    background-color: rgb(73, 72, 72);
    box-shadow: 0px 15px 10px rgb(59, 58, 58);
    transform: rotate(3deg);
    content: "";
    z-index: -1;
    
}


div.canal-container div.container-mestre div.card-informacoes h5{
    margin-bottom: 1rem;
    font-size: max(15px, 1.1vw);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px #000;
}

div.canal-container div.container-mestre div.card-informacoes p{
    max-width: 450px;
    font-size: max(12px, .8vw);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px #000;
}

div.canal-container div.container-mestre div.card-informacoes a.btn-link-canal{
    color: #049DD9;
    text-decoration: none;
    font-size: max(13px, 1.1vw);
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px 2px rgb(146, 146, 146);
}
/*----------------------------*/
/*          ANIMAÇÕES         */
/*----------------------------*/

div.canal-container div.container-mestre div.card-informacoes a.animation-canal{
    animation-name: linkCanal;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

/*---------- CANAL YOUTUBE -----------*/
@keyframes linkCanal {
    0%{
        color: #049DD9;
    }
    50%{
        color: #025c80;
    }
    
    100%{
        color: #049DD9;
    }
}